# =============================================================
# CONTOH ENV — FILE INI AMAN DI-PUSH KE GITHUB ✅
# Salin file ini menjadi ".env" lalu isi nilainya sendiri
# =============================================================

# Anime API Base URL (Sanka Vollerei API)
EXPO_PUBLIC_ANIME_API_BASE_URL=masukkan base endpoint mu wlelele

# Old Drama API (DEPRECATED - API sudah mati)
# EXPO_PUBLIC_API_BASE_URL=masukkan base endpoint mu wlelele
# EXPO_PUBLIC_NETSHORT_BASE_URL=masukkan base endpoint mu wlelele
